{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 400,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 1200
      }
    }
  ]
}